@componentName: ~"login-form";

.ant-form-horizontal{
    width: 350px;
  }

.ant-row.ant-form-item{
    width: 100%;
}

.@{componentName}{
    display         : flex;
    flex-direction  : row;
    justify-content : center;
    
    .@{componentName}-login-form-remember{
        display: inline-flex;
    }
      
    .@{componentName}-login-form-forgot {
        float: right;
    }

    .@{componentName}-login-form-button{
        width: 100%
    }
      
}
