
@componentName: ~"curb-card";

.@{componentName}{
    width           : 100%;
    min-width       : 200px;
    height          : 200px;
    display         : inline-flex;
    background-color: white;
    
    .@{componentName}-img-holder{
        width           : 60%;
        display         : flex;
        flex-direction  : row;
        align-items     : center;
        justify-content : center;
    
        .@{componentName}-img{
            width           : 60%;
            max-width       : 120px;
        }
    }

    .@{componentName}-info{
        background-color: red;
        width           : 40%;
    }
}
