@componentName: ~"table-curb";

.@{componentName}{
    width           : 550px;
    height          : 400px;
    display         : inline-flex;

    .@{componentName}-table{
        width: 100%;
    }
}



@media screen and (max-width: 768px) {
    .@{componentName}{
        width           : 100%;
        max-width: 100%;
        height          : auto;
        display         : inline-flex;
        margin-bottom   : 10px;
    }
}